<div class="container mt-5">
  <section class="my-3">
    <div class="row text-center m-2 justify-content-center">
      <div class="col">
        <h4>Dividers</h4>
      </div>
      <div class="col offset-md-6">
        <a
          target="_blank"
          matTooltip="Edit on Stackblitz"
          matTooltipPosition="above"
          href="https://stackblitz.com/edit/jj-dividers"
          ><mat-icon svgIcon="electric_bolt">electric_bolt</mat-icon></a
        >
      </div>
    </div>
    <mat-divider></mat-divider>
    <p class="mt-4">Divider 1</p>
    <mat-divider class="mt-2"></mat-divider>
    <p class="mt-2">Divider 2</p>
    <mat-divider class="mt-2"></mat-divider>
    <p class="mt-2">Divider 3</p>
    <mat-divider class="mt-2"></mat-divider>
  </section>
</div>
